* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bg {
    background: #0c84fc;
    width: 640px;
    height: 480px;
    margin-left: -50px;
    /*-webkit-transform: skew(-60deg);
    -moz-transform: skew(-60deg);
    -o-transform: skew(-60deg);*/
    /*clip-path: polygon(93% 14%, 100% 14%, 100% 75%, 12% 100%, 0 100%, 0 36%);*/
    clip-path: polygon(92% 0, 100% 0, 100% 68%, 10% 100%, 0 100%, 0 34%);
    z-index: 2;
}

.total {
    display: inline-flex;

    color: grey;
    border-radius: 5px;
    background: #fff;
    width: 460px;
    height: 290px;
    position: absolute;
    top: 100px;
    left: 420px;
    z-index: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 30px;

    &-wrapper {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        /*margin-right: 550px;*/
        /*align-items: center;*/

    }

    & span {
        color: #0c84fc;
    }

    /*display: flex;
flex-direction: column;*/
    ul li {
        list-style-type: none;
    }
}

.centered {
    align-self: center;
    font-size: 13px;
}



.creditCard {
    color: #fff;
    border-radius: 5px;
    background: #3b9bfc;
    position: absolute;
    top: 140px;
    left: 610px;
    width: 330px;
    height: 200px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


    &__title {
        padding: 15px;
        display: flex;
        justify-content: space-between;

        &_img {
            margin-top: -10px;
        }
    }
}

.price {
    font-size: 30px;
    font-weight: 600;
    color: #0c84fc;
    margin-bottom: 20px;
}

.orderList {
    margin-top: 5px;
}

.orderList li:first-child span {
    padding-left: 35px;
}

.orderList li span {
    padding-left: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    margin-top: 65px;
    height: 25px;
    display: block;
    cursor: pointer;
    border-radius: 30px;
    /*outline: none;*/
    border: 1px solid #0c84fc;
    color: #0c84fc;
    width: 80%;
    margin-left: 20px;
    background-color: #fff;

    &:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }



}


.form-group {
    display: flex;
    flex-direction: column;

    /*&:last-of-type {
    display: inline;
}*/



    .inputTitle {
        padding-left: 15px;
        margin-bottom: 5px;
        margin-top: 15px;
        font-size: 12px;
        color: #afb2b6;
    }



    input {
        height: 20px;
        padding: 3px 0;
        max-width: 230px;
        /*margin-left: 15px;*/
        background-color: #7eb9f3;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 2px;
        text-align: center;


    }

    input:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    select {
        height: 20px;
        padding: 3px 0;
        max-width: 250px;

        max-width: 230px;
        appearance: none;
        text-align-last: center;
        background-color: #7eb9f3;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 2px;
        text-align: center;
    }

    select:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }

    select:first-of-type {
        margin-left: 15px;
        max-width: 80px;

    }

    select:last-of-type {
        max-width: 80px;
        margin-left: -5px;
        padding-right: 10px;

    }
}

/*.form-group {
    display: inline-flex;
    flex-wrap: nowrap;
}*/

.expiration-date {
    display: flex;
    margin-left: 20px;
}

.expiration {
    /*display: block;*/
    display: flex;

    flex-wrap: nowrap;

}

.expYear {
    max-width: 50px !important;

    &::placeholder {
        color: #fff;
    }
}

.CVV {
    width: 50px;
    position: relative;
    top: -53px;
    left: 250px;


    input:last-of-type {
        max-width: 60px;
        background-color: #7eb9f3;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 2px;
        height: 20px;
        padding: 3px 0;

    }

    label {
        padding-left: 0px;
    }
}

#cvv {
    text-align: center;
    margin-left: 0px;

    &:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }

    &::placeholder {
        color: #fff;
    }

    ;
}

#cardNumber {
    margin-left: 15px;
    max-width: 235px;

    &::placeholder {
        color: #fff;
    }
}

#lastLabel {
    padding-left: 0px;
}

.invalid {
    border-color: red;
}

#error {
    color: red;
    margin-left: 10px;
}